@()(implicit req: RequestHeader)

@main {

    <script type="text/javascript">
        var WS_URL = "@controllers.routes.DashboardController.ws().webSocketURL()";
    </script>

    <div class="row">

        <div class="col-sm-2">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Google.fr
                </div>
                <div class="chart-stage chart-ping">
                    <input class="ping" data-interval="1" data-url="http://www.google.fr" type="number" min="0" max="1000" value="0" />
                </div>
                <div class="chart-notes">
                    Notes go down here
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Google.com
                </div>
                <div class="chart-stage chart-ping">
                    <input class="ping" data-interval="1" data-url="http://www.google.com" type="number" min="0" max="1000" value="0" />
                </div>
                <div class="chart-notes">
                    Notes go down here
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Free.fr
                </div>
                <div class="chart-stage chart-ping">
                    <input class="ping" data-interval="1" data-url="http://www.free.fr" type="number" min="0" max="1000" value="0" />
                </div>
                <div class="chart-notes">
                    Notes go down here
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Github.com
                </div>
                <div class="chart-stage chart-ping">
                    <input class="ping" data-interval="1" data-url="http://www.github.com" type="number" min="0" max="1000" value="0" />
                </div>
                <div class="chart-notes">
                    Notes go down here
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Mocky.io
                </div>
                <div class="chart-stage chart-ping">
                    <input class="ping" data-interval="1" data-url="http://www.mocky.io/v2/557de074621b1a451a5b952c" type="number" min="0" max="1000" value="0" />
                </div>
                <div class="chart-notes">
                    Notes go down here
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Atlassian.com
                </div>
                <div class="chart-stage chart-ping">
                    <input class="ping" data-interval="1" data-url="http://www.atlassian.com" type="number" min="0" max="1000" value="0" />
                </div>
                <div class="chart-notes">
                    Notes go down here
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-sm-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Impressions by advertiser
                </div>
                <div class="chart-stage">
                    <canvas id="chart-03" style="width: 100%"></canvas>
                </div>
                <div class="chart-notes">
                    Notes go down here
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Impressions by device
                </div>
                <div class="chart-stage">
                    <div id="chart-04"></div>
                </div>
                <div class="chart-notes">
                    Notes go down here
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Impressions by country
                </div>
                <div class="chart-stage">
                    <div id="chart-05"></div>
                </div>
                <div class="chart-notes">
                    Notes go down here
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <img data-src="holder.js/100%x150/white">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <img data-src="holder.js/100%x150/white">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <img data-src="holder.js/100%x150/white">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <img data-src="holder.js/100%x150/white">
            </div>
        </div>
    </div>


}
